{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userprofile</h1>

    <table>
        <tbody>
            <tr>
                <th>Userprofileid</th>
                <td>{{ userProfile.userProfileId }}</td>
            </tr>
            <tr>
                <th>Useridcreate</th>
                <td>{{ userProfile.userIdCreate }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{% if userProfile.dateCreated %}{{ userProfile.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ums_sec_privileges_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ums_sec_privileges_edit', { 'id': userProfile.userProfileId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
