{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pageactions list</h1>

    <table>
        <thead>
            <tr>
                <th>Pageactionsid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pageAction in pageActions %}
            <tr>
                <td><a href="{{ path('ums_sec_menu_actions_show', { 'id': pageAction.pageActionsId }) }}">{{ pageAction.pageActionsId }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ums_sec_menu_actions_show', { 'id': pageAction.pageActionsId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ums_sec_menu_actions_edit', { 'id': pageAction.pageActionsId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ums_sec_menu_actions_new') }}">Create a new pageAction</a>
        </li>
    </ul>
{% endblock %}
